extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      .revcontainer
        h2.revhead About Us
        p.revmsg Welcome to FoodHub, your one-stop solution for finding the best restaurants around you. Our mission is to help you discover eateries that cater to your taste buds, whether you’re craving authentic local cuisine, exotic international dishes, or a cozy place to enjoy a meal with friends and family.
      .revcontainer
        h2.revhead How we started
        p.revmsg We started FoodHub with a simple goal: to make dining experiences more accessible and enjoyable by connecting food lovers with a variety of restaurants in their vicinity. Whether you're looking for fine dining, quick bites, or a family-friendly venue, FoodHub is here to guide you to your ideal dining destination.
      .revcontainer
        h2.revhead What We Offer
        ul.revmsg
          li Comprehensive Listings: We provide detailed information about each restaurant, including their menu offerings, facilities, opening times, and customer reviews.
          li User-Friendly Search: Our easy-to-use search feature helps you quickly find restaurants that match your preferences, dietary needs, and desired ambiance.
          li Reliable Information: We ensure that all the information on our site is up-to-date and accurate, so you can trust the dining recommendations you find here.
      .revcontainer
        h2.revhead Our Commitment
        p.revmsg We are committed to providing you with the best possible dining discovery experience. Our team is continuously working to improve our service, add new features, and expand our listings to make your search even more enjoyable. We value your feedback and are always here to help with any questions or concerns you may have.
        p.revhead Thank you for choosing FoodHub. We hope you find it helpful, enjoyable, and delicious!
